
body 
    {
	font-size: 67%;
	font-family: Verdana;
	background: #eee;
	padding: 50px 0;
    }

form 
{
    background: #fafafa;
    padding: 20px;
   // width: 400px;
    margin: 0 auto;
    padding-top: 40px;
    //border: 1px solid #ffe2e3;
    border: solid 1px aqua;
    position: absolute;
    top: 200px;
    height:200px;
    width:240px;
     left: 550px;
}
#D_form
{
    background: #fafafa;
    padding: 20px;
   // width: 400px;
    margin: 0 auto;
    padding-top: 40px;
    //border: 1px solid #ffe2e3;
    border: solid 1px aqua;
   position: absolute;
    top: 230px;
    left: 550px;
    height:100px;
    width:190px;
}

#D_uname
{
    /* Float containment */
    overflow: hidden;
   // border: solid 1px aqua;
    
  
}

form label, form input
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#L_uname
{
    
    	font-weight: bold;
	background: linear-gradient(#f1f1f1, #e2e2e2);
	padding:7px 10px;
        margin-top: 2px;
        
	color: #444;
	
	border: 1px solid #d4d4d4;
	/* lets remove the right border */
	border-left: 0;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	
	line-height:1.5em;
	width: 40%;
	

	float: right;
	
	text-align: center;
	
}


#i_uname 
{
       
	width: 60%;
	padding: 5px;
	border: 1px solid #d4d4d4;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 4px;
	
	line-height: 1.5em;
	float: left;
	
        box-shadow: inset 0px 2px 2px #ececec;
        text-align:  center;
        cursor: pointer;
	
}
#i_uname:focus 
{
	
	outline: 0;
	border: 1px solid #bbb;
        
}



#D_pass
{
    /* Float containment */
    position: relative;
    overflow: hidden;
  //  border: solid 1px  #08986b;
    top:10px;
  
}


#L_pass
{
    
    	font-weight: bold;
	background: linear-gradient(#f1f1f1, #e2e2e2);
	padding:7px 10px;
        margin-top: 2px;
        
	color: #444;
	
	border: 1px solid #d4d4d4;
	/* lets remove the right border */
	border-left: 0;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	
	line-height:1.5em;
	width: 40%;
	

	float: right;
	
	text-align: center;
	
}


#i_pass 
{
       
	width: 60%;
	padding: 5px;
	border: 1px solid #d4d4d4;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 4px;
	
	line-height: 1.5em;
	float: left;
	
        box-shadow: inset 0px 2px 2px #ececec;
        text-align:  center;
        cursor: pointer;
	
}
#i_pass:focus 
{
	
	outline: 0;
	border: 1px solid #bbb;
}

#D_log
{
    /* Float containment */
    position: relative;
    overflow: hidden;
  //  border: solid 1px  #08986b;
    top:40px;
    display: inline-block; 
  
}

#i_log
{
      
    background-image: url('Images/Form_Login/login.jpg');
    width: 110px;
    height: 50px;
    background-size: 100%;
     border-radius: 50px;
    background-repeat: no-repeat;
    cursor: pointer;
    
}
#i_log:focus 
{
	
	outline: 0;
	border: 2px solid  darkturquoise;
}
#D_register
{
    /* Float containment */
    position: relative;
    overflow: hidden;
  //  border: solid 1px  #08986b;
    top:40px;
  display: inline-block;
  
}
#i_register
{
      
    background-image: url('Images/Form_Login/new.jpg');
    width: 110px;
    height: 50px;
    background-size: 100%;
     border-radius: 50px;
    background-repeat: no-repeat;
    cursor: pointer;
}
#i_register:focus 
{
	
	outline: 0;
	border: 2px solid  darkturquoise;
}
/***********************************ID****************************************/
 #in_Pattern
  {
      background-image: url('../Images/Pattern-Back.jpg')   ;
      background-repeat: no-repeat;
      background-color: azure;
      padding: 0px;
      margin: 0px;
  }
  #I_Fun
{
    display: none;
    
}